CANVAS_API_URL=""
CANVAS_API_KEY=""
CANVAS_COURSE_ID=""
CANVAS_QUIZ_IDS="pg:Machine Group Name=quiz_id," # add more comma separated pairs here
GRIT_URL=""
GRIT_API_KEY=""
LOG_FILE="grit.log"
UPLOAD_TO_GRIT="" # set to true to upload to grit
