CANVAS_API_URL=""
CANVAS_API_KEY=""
CANVAS_COURSE_ID=""
CANVAS_QUIZ_IDS="pg:Machine Group Name=quiz_id," # add more comma separated pairs here
GRIT_URL=""
GRIT_API_KEY=""
UPLOAD_TO_GRIT=false # set to true to upload to grit
# the following two directories should be in the same folder so that
# the GUI web filebrowser can make them both easily accessible
BACKUP_FOLDER="/path/to/backups"
LOG_FOLDER="/path/to/logs"
