[Unit]
Description=Gets new quiz submissions from and grants permissions on the Grit system to those users

[Service]
WorkingDirectory=%h/canvas_grit_automation
ExecStart=/nix/var/nix/profiles/default/bin/nix run .#sync run