[Unit]
Description=Gets the latest Grit user list, saves a backup, and sends it to whoever asked

[Service]
WorkingDirectory=/home/pi/canvas_grit_automation
ExecStart=filebrowser -r backup logs
Restart=on-failure

[Install]
WantedBy=default.target
